.mContainer {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftMContainer {

}
.mNote {

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.hi{
    font-size: 70px;
    font-weight: 700;
    transition: all .5s ease-in-out;
}


.im{
    font-size: 60px;
    font-weight: 600;
    transition: all .5s ease-in-out;
}


.web{
    font-size: 50px;
    font-weight: 400;
    transition: all .5s ease-in-out;
}

.e {
    display: inline-block;
}

.noteVisible {
    display: inline-block;
    position: relative;
    animation: nvisible 2s  ease-in-out;
    animation-delay: calc(0.1s * var(--i));
}
/*
.noteVisible:hover {
    display: inline-block;
    position: relative;
    background-color: red;
    animation: hoverAnimation 1s  ease-in;
}
*/
@keyframes hoverAnimation {
    0%{transform: scaleX(1) scaleY(1);}
    20%,60%{transform: scaleX(1.2) scaleY(.6); color: "#29FCDC"}
    70%{transform: scaleX(.9) scaleY(1.1); color: "#29FCDC"}
    80%{transform: scaleX(1.1) scaleY(.9); color: "#29FCDC"}
    90%{transform: scaleX(.9) scaleY(1.1); color: "#29FCDC"}
    100%{transform: scaleX(1) scaleY(1); color: "#29FCDC"}

}

@keyframes nvisible {
    0%{transform: scale(1) rotate(-20deg) translateY(-20px); opacity: 0;}
    20%{transform: scale(1.5) rotate(0deg) translateY(-20px); opacity: 1;}
    40%{transform: scale(1) rotate(0deg) translateY(-10px); opacity: 1;}
    60%,100%{transform: scale(1) rotate(0deg) translateY(0px); opacity: 1;}
}


.rightMContainer {

}