.not_opened{
    height: 0px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right:0px;
}

.closedCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.rightGp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.headerClosedCard{
    margin-left: 20px;
}
.cardRightText{
    width: 100%;
}

.drop_icon{
}