.experienceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}

.eLeftContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: auto;
  padding-bottom: 50px;
  background: #071527;
  box-shadow: 2px 2px 10px -7px #000, -2px -2px 10px -7px #000;
  border-top: 10px solid #4486dc;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.eLeftAnimation {
  animation: eLeft 0.5s ease-in;
  position: relative;
}

@keyframes eLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

.eleftHeader {
  font-size: 27px;
  font-weight: 600;
  font-family: Century Gothic;
  margin-bottom: 30px;
  font-family: "Caveat", cursive;
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.eleftNote {
  font-size: 18px;
  color: #fff;
  width: 90%;
  margin-top: 20px;
  font-family: Century Gothic;
}

.firstE {
  color: #ffff;
}
.secondE {
  color: #fff;
}
.thirdE {
  color: #fff;
}

.eRightContainer {
  width: 40%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.skillContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-family: Century Gothic;
  font-family: "Caveat", cursive;
}

.skillHeader {
  color: #ff5d40;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 600;
  font-family: Century Gothic;
  font-family: "Caveat", cursive;
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skillName {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.progressContainer {
  width: 400px;
  background-color: #4b4b4b;
  height: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.progressBar {
  height: 100%;
  border-radius: 5px;
}
.progressLogoPink {
  font-weight: 600;
  font-family: Century Gothic;
  cursor: pointer;
  font-family: "Caveat", cursive;
  color: #4486dc;
}
.progressLogoBlue {
  color: #29fcdc;
  font-weight: 600;
  font-family: Century Gothic;
  cursor: pointer;
  font-family: "Caveat", cursive;
}

.progressLogoAnimation {
  animation: planimation 2s ease-in;
}

@keyframes planimation {
  from {
    left: 0%;
  }
}

.skillAnimation {
  animation: sanimation 2s ease-in;
}

@keyframes sanimation {
  from {
    width: 0%;
  }
}

.html,
.js,
.tailwind,
.express,
.next,
.firebase {
  color: #4486dc;
}
.htmlBar {
  background: linear-gradient(93.25deg, #4fe0b5 9.29%, #4486dc 75.09%);
  width: 90%;
}
.css,
.bootstrap,
.node,
.mongo,
.react {
  color: #4fe0b5;
}
.cssBar {
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);

  width: 90%;
}

.jsBar {
  background: linear-gradient(93.25deg, #4fe0b5 9.29%, #4486dc 75.09%);

  width: 85%;
}

.bootstrapBar {
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  width: 90%;
}

.tailwindBar {
  background: linear-gradient(93.25deg, #4fe0b5 9.29%, #4486dc 75.09%);

  width: 90%;
}

.reactBar {
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  width: 85%;
}

.nodeBar {
  background: linear-gradient(93.25deg, #4fe0b5 9.29%, #4486dc 75.09%);

  width: 60%;
}

.expressBar {
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  width: 55%;
}

.mongoBar {
  background: linear-gradient(93.25deg, #4fe0b5 9.29%, #4486dc 75.09%);
  width: 50%;
}
.nextBar {
  background: linear-gradient(93.25deg, #4fe0b5 9.29%, #4486dc 75.09%);
  width: 70%;
}
.firebaseBar {
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  width: 60%;
}

@media (max-width: 1005px) {
  .experienceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
  }
  .eLeftContainer {
    width: 65%;
  }
  .eRightContainer {
    width: 65%;
  }
  .progressContainer {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .eRightContainer {
    width: 80%;
  }
  .progressContainer {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .eLeftContainer {
    width: 80%;
  }
  .eleftHeader {
    font-size: 20px;
    font-weight: 600;
  }
  .eleftNote {
    font-size: 16px;
  }
  .eRightContainer {
    width: 90%;
  }
  .progressContainer {
    width: 90%;
  }
}
