.mContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.leftMContainer {
}
.mNote {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
}
.firstLine, .secondLine, .thirdLine {
    display: flex;
    flex-direction: row;
}

.first{
    font-size: 70px;
    font-weight: 500;
}
.second, .firstHi {
    font-size: 70px;
    font-weight: 600;
}
.third {
    font-size: 60px;
    font-weight: 400;
}



.e {
    display: inline-block;
}

.noteVisible {
    margin-left: 3px;
    display: inline-block;
    position: relative;

    color: #fff;
}
.noteVisible:hover {
    color: #29fcdc;
    display: inline-block;
    position: relative;
    transform: scaleX(1.1) scaleY(.8) translateY(50px) rotate(30deg);
    transition: transform .2s ease;
}


.rightMContainer {
    width: 400px;
}
.rightMContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.one,.two,.three,.four,.five,.six,.seven {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.one{
    background-color: #F40000;
    box-shadow: 1px 1px 20px -3px #F40000;
}
.two{
    background-color: #F75200;
    box-shadow: 1px 1px 20px -3px #F75200;
}
.three{
    background-color: #F7E92D;
    box-shadow: 1px 1px 20px -3px #F7E92D;
}
.four{
    background-color: #00B700;
    box-shadow: 1px 1px 20px -3px #00B700;
}
.five{
    background-color: #0097F7;
    box-shadow: 1px 1px 20px -3px #0097F7;
}
.six{
    background-color: #000080;
    box-shadow: 1px 1px 20px -3px #000080;
}
.seven{
    background-color: #8100E2;
    box-shadow: 1px 1px 20px -3px #8100E2;
}

@media (max-width: 1005px) {
    .mContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20%;
    }
    .leftMContainer {
        width: 90%;
    }
    .rightMContainer{
        margin-top: 100px;
    }
}

@media (max-width: 700px) {
    .first{
        font-size: 50px;
        font-weight: 500;
    }
    .second, .firstHi {
        font-size: 50px;
        font-weight: 600;
    }
    .third {
        font-size: 40px;
        font-weight: 400;
    }
}
@media (max-width: 500px) {
    .first{
        font-size: 40px;
        font-weight: 450;
    }
    .second, .firstHi {
        font-size: 40px;
        font-weight: 550;
    }
    .third {
        font-size: 30px;
        font-weight: 400;
    }
    .rightMContainer {
        width: 70%;
    }
    .one,.two,.three,.four,.five,.six,.seven {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
}
@media (max-width: 500px) {
    .first{
        font-size: 30px;
        font-weight: 450;
    }
    .second, .firstHi {
        font-size: 30px;
        font-weight: 550;
    }
    .third {
        font-size: 25px;
        font-weight: 400;
    }
    .rightMContainer {
        width: 70%;
    }
    .one,.two,.three,.four,.five,.six,.seven {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
}