.nContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(6, 18, 34, 0.9);
  border-bottom: 2px solid;
  border-bottom: 0px;
  border-color: #4bbec4;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #4486dc, #4fe0b5);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

.navList {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.logoImg {
  width: 70px;
  border-radius: 60px;
  cursor: pointer;
  color: #53b7fa;

  filter: invert(50%) sepia(98%) saturate(525%) hue-rotate(166deg)
    brightness(123%) contrast(96%);
}

.navChild {
  padding: 40px 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: "Satoshi";
}
.navChild:hover {
  font-family: "Satoshi";
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.navChild:active {
  font-family: "Satoshi";
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.humbagarContainer {
  display: none;
}

.menuContainer {
  height: 100vh;
  width: 100vw;
  background: #061222;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  transition: all 0.5s ease-in;
  user-select: none;
  opacity: 0;
}
.menuStatic {
  height: 100%;
  width: 100%;
  position: relative;
  transform: translateY(50px);
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuAnimate {
  transform: translateY(0px);
}

.menulogoImg {
  width: 100px;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 50px;
  color: #53b7fa;

  filter: invert(50%) sepia(98%) saturate(525%) hue-rotate(166deg)
    brightness(123%) contrast(96%);
}
.menuHide {
  opacity: 0;
  z-index: -1;
}

.menuActive {
  opacity: 1;
}
.webDeveloper {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 50px;
  font-family: "Satoshi";
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.humbagarListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.humbagarList {
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 20px 300px;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #4fe0b5, #4486dc);
}
.humbagarList:hover {
  font-family: "Satoshi";
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.humbagarList:active {
  font-family: "Satoshi";
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tMobileLogo {
  display: none;
}

.mode_button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  cursor: pointer;
}
.mode_button_mobile_container {
  display: none;
}
.mode_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
  border-radius: 15px;
  height: 30px;
  background-color: #b6b4b4;
  background-color: #4fe0b5;
}
.dark_button {
  justify-content: flex-start;
  background-color: #313131;
  background-color: #194580e6;
  background-color: #4486dc;
}
.mode_icon_container {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}
.dark_icon_container {
  background-color: white;
}
.mode_icon {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-family: "Satoshi";
}
.light_mode_bg_white {
  background-color: white;
}
.light_mode_color_black {
  color: black;
}
@media (max-width: 1105px) {
  .nContainer {
    display: none;
  }
  .tMobileLogo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  .logoImg {
    width: 70px;
    cursor: pointer;
  }
  .mode_button_mobile_container {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 3;
  }
  .humbagarContainer {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 4;
  }
  .stick {
    width: 30px;
    height: 3px;
    background-image: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
    margin-bottom: 5px;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .stickOne {
    transform: rotate(45deg) translate(4px, 5px);
  }

  .stickTwo {
    opacity: 0;
  }

  .stickThree {
    transform: rotate(-45deg) translate(5px, -7px);
  }
}

@media (max-width: 600px) {
  .humbagarList {
    font-weight: 600;
    font-size: 17px;
    padding: 20px 200px;
  }
}
