body {
    background-color: #262626;
}

.bodyContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: brown;
}


.white {
    color: #fff;
}


.scrollLeft{
    position: absolute;
    left: 0;
    top: 80%;
    color: #fff;
    font-family: Lucida Handwriting;
}

.scrollRight{
    position: absolute;
    right: 0;
    top: 80%;
    color: #fff;
    font-family: Lucida Handwriting;
}