.thankContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.successIcon {
    color: #29fcdc;
    font-size: 40px;
}
.successText {
    color: #fff;
}
.thankTest {
    color: #29fcdc;
    margin: 80px auto;
}

.replayTest {
    color: #fff;
}

.backButton {
    background-color: #29fcdc;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}

.backIcon {
}